<a href="https://colab.research.google.com/github/feniltailor22/Natural-Language-Processing/blob/main/Spam_SMS_Classification_Using_BERT_%26_Tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

import tensorflow as tf
import tensorflow_hub as hub

!pip install tensorflow_text
import tensorflow_text as tf_text

Collecting tensorflow_text
  Downloading tensorflow_text-2.7.3-cp37-cp37m-manylinux2010_x86_64.whl (4.9 MB)
     |████████████████████████████████| 4.9 MB 12.4 MB/s
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (0.12.0)
Requirement already satisfied: tensorflow<2.8,>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (2.7.0)
Requirement already satisfied: keras<2.8,>=2.7.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (2.7.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.42.0)
Requirement already satisfied: tensorboard~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (2.7.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.1.0)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.12.0)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.19.5)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (12.0.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.6.3)
Requirement already satisfied: flatbuffers<3.0,>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (3.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.15.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (3.3.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.13.3)
Requirement already satisfied: tensorflow-estimator<2.8,~=2.7.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (2.7.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (3.10.0.2)
Requirement already satisfied: wheel<1.0,>=0.32.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.37.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (3.17.3)
Requirement already satisfied: gast<0.5.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.4.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.22.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.1.2)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (3.3.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.8.0)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (57.4.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (2021.10.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (3.1.1)
Installing collected packages: tensorflow-text
Successfully installed tensorflow-text-2.7.3

In [2]:
df= pd.read_csv('SMSSpamCollection', sep='\t', names=["label", "message"])

In [3]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.groupby(by='label').describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [5]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [6]:
747/4825

0.15481865284974095

In [7]:
#15% spam emails, 85% ham emails: This indicates class imbalance

In [8]:
#To handle the class imbalance we are doing Down Sampling here.
#That is reducing the Ham Messages to 747 and descarding the rest of messages.

In [9]:
df_spam= df[df['label']=='spam']

In [10]:
df_spam.head()

   label                                            message
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [11]:
df_spam.shape

(747, 2)

In [12]:
df_ham= df[df['label']=='ham']
df_ham.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
6   ham  Even my brother is not like to speak with me. ...

In [13]:
df_ham.shape

(4825, 2)

In [14]:
df_ham_downsampled= df_ham.sample(df_spam.shape[0])
#df_spam.shape[0]= 747

In [15]:
df_ham_downsampled.head()

     label                                            message
2232   ham  K, wen ur free come to my home and also tel vi...
5344   ham             When you guys planning on coming over?
3608   ham                       I have no idea where you are
2933   ham  Only 2% students solved this CAT question in '...
1552   ham          In e msg jus now. U said thanks for gift.

In [16]:
df_ham_downsampled.shape

(747, 2)

In [17]:
df_balanced= pd.concat([df_spam, df_ham_downsampled])

In [18]:
df_balanced.shape

(1494, 2)

In [19]:
df_balanced['label'].describe()

count     1494
unique       2
top        ham
freq       747
Name: label, dtype: object

In [20]:
df_balanced['label'].value_counts()

ham     747
spam    747
Name: label, dtype: int64

In [21]:
df_balanced['spam']= df_balanced['label'].apply(lambda x:1 if x=='spam' else 0)

In [22]:
df_balanced

     label                                            message  spam
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
5     spam  FreeMsg Hey there darling it's been 3 week's n...     1
8     spam  WINNER!! As a valued network customer you have...     1
9     spam  Had your mobile 11 months or more? U R entitle...     1
11    spam  SIX chances to win CASH! From 100 to 20,000 po...     1
...    ...                                                ...   ...
1588   ham  Dont search love, let love find U. Thats why i...     0
5544   ham  I'm taking derek &amp; taylor to walmart, if I...     0
5040   ham  Pls clarify back if an open return ticket that...     0
4978   ham  A boy was late 2 home. His father: "POWER OF F...     0
5134   ham    Sday only joined.so training we started today:)     0

[1494 rows x 3 columns]

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_balanced['message'], df_balanced['spam'], stratify=df_balanced['spam'])

#stratify= data is split in a stratified fashion, using this as the class labels

In [24]:
#Now lets import BERT model and get embeding vectors for few sample statements

In [25]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [26]:
X_train.head()

2670    we tried to contact you re your response to ou...
2823    ROMCAPspam Everyone around should be respondin...
4834    New Mobiles from 2004, MUST GO! Txt: NOKIA to ...
1683    HI BABE U R MOST LIKELY TO BE IN BED BUT IM SO...
2032    I noe la... U wana pei bf oso rite... K lor, o...
Name: message, dtype: object

In [27]:
#Creating a function that takes a sentence as an input and returns 768 size vector as an output.

def get_sentence_embedding(sentences):
  preprocess_text= bert_preprocess(sentences)
  return bert_encoder(preprocess_text)['pooled_output'] #word embedding for entire sentence

In [28]:
get_sentence_embedding([
    "500$ discount. hurry up", 
    "Bhavin, are you up for a volleybal game tomorrow?"]
)

<tf.Tensor: shape=(2, 768), dtype=float32, numpy=
array([[-0.8435166 , -0.5132724 , -0.88845706, ..., -0.7474883 ,
        -0.7531471 ,  0.91964483],
       [-0.8720836 , -0.50544   , -0.9444667 , ..., -0.8584748 ,
        -0.71745366,  0.88082993]], dtype=float32)>

In [29]:
#Get embeding vectors for few sample words. Compare them using cosine similarity

In [30]:
e = get_sentence_embedding([
    "banana", 
    "grapes",
    "mango",
    "jeff bezos",
    "elon musk",
    "bill gates"
])

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
cosine_similarity([e[0]],[e[1]])

array([[0.99110895]], dtype=float32)

In [33]:
#Values near to 1 means they are similar. 0 means they are very different. Above you can use comparing "banana" vs "grapes" you get 0.99 similarity as they both are fruits

In [34]:
cosine_similarity([e[3]],[e[4]])

array([[0.9872036]], dtype=float32)

In [35]:
#Jeff bezos and Elon musk are more similar then Jeff bezos and banana as indicated above

In [36]:
cosine_similarity([e[0]],[e[3]])

array([[0.8470383]], dtype=float32)

In [37]:
#Comparing banana with jeff bezos you still get 0.84 but it is not as close as 0.99 that we got with grapes.

In [38]:
#Build Model

#There are two types of models you can build in tensorflow.
# (1) Sequential (2) Functional

# below we will build functional model

In [39]:
# Bert layers
text_input= tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocess_text =bert_preprocess(text_input)
outputs =bert_encoder(preprocess_text)

# Neural network layers
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

# Use inputs and outputs to construct a final model
model = tf.keras.Model(inputs=[text_input], outputs = [l])

In [40]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_word_ids':   0           ['text[0][0]']
                                (None, 128),
                                 'input_type_ids':
                                (None, 128),
                                 'input_mask': (Non
                                e, 128)}

 keras_layer_1 (KerasLayer)     {'default': (None,   109482241   ['keras_layer[0][0]',
                                768),                             'keras_layer[0][1]',
                                 'sequence_output':               'keras_layer[0][2]']
                                 (None, 128, 768),
                                 'pooled_output': (
                                None, 768),
                                 'encoder_outputs':
                                 [(None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768)]}

 dropout (Dropout)              (None, 768)          0           ['keras_layer_1[0][13]']

 output (Dense)                 (None, 1)            769         ['dropout[0][0]']

==================================================================================================
Total params: 109,483,010
Trainable params: 769
Non-trainable params: 109,482,241
__________________________________________________________________________________________________

In [41]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=METRICS)

In [42]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
35/35 [==============================] - 33s 622ms/step - loss: 0.5760 - accuracy: 0.7366 - precision: 0.7387 - recall: 0.7321
Epoch 2/10
35/35 [==============================] - 22s 624ms/step - loss: 0.4716 - accuracy: 0.8321 - precision: 0.8286 - recall: 0.8375
Epoch 3/10
35/35 [==============================] - 22s 624ms/step - loss: 0.4076 - accuracy: 0.8813 - precision: 0.8819 - recall: 0.8804
Epoch 4/10
35/35 [==============================] - 22s 628ms/step - loss: 0.3691 - accuracy: 0.8821 - precision: 0.8768 - recall: 0.8893
Epoch 5/10
35/35 [==============================] - 22s 632ms/step - loss: 0.3431 - accuracy: 0.8911 - precision: 0.8789 - recall: 0.9071
Epoch 6/10
35/35 [==============================] - 22s 632ms/step - loss: 0.3277 - accuracy: 0.8893 - precision: 0.8798 - recall: 0.9018
Epoch 7/10
35/35 [==============================] - 22s 639ms/step - loss: 0.3029 - accuracy: 0.9036 - precision: 0.8844 - recall: 0.9286
Epoch 8/10
35/35 [==============================] - 22s 637ms/step - loss: 0.2910 - accuracy: 0.9036 - precision: 0.8937 - recall: 0.9161
Epoch 9/10
35/35 [==============================] - 22s 637ms/step - loss: 0.2721 - accuracy: 0.9107 - precision: 0.9007 - recall: 0.9232
Epoch 10/10
35/35 [==============================] - 22s 633ms/step - loss: 0.2628 - accuracy: 0.9205 - precision: 0.9183 - recall: 0.9232

In [43]:
model.evaluate(X_test, y_test)

12/12 [==============================] - 9s 613ms/step - loss: 0.2734 - accuracy: 0.9118 - precision: 0.8812 - recall: 0.9519

[0.27335962653160095,
 0.9117646813392639,
 0.8811880946159363,
 0.9518716335296631]

In [44]:
y_predicted = model.predict(X_test)
y_predicted

array([[0.9646564 ],
       [0.979935  ],
       [0.9017511 ],
       [0.9525932 ],
       [0.86457944],
       [0.9709551 ],
       [0.12718144],
       [0.86304724],
       [0.9366654 ],
       [0.03119833],
       [0.6926738 ],
       [0.9400277 ],
       [0.1100765 ],
       [0.11097459],
       [0.48077586],
       [0.24476038],
       [0.11124694],
       [0.9167892 ],
       [0.30973598],
       [0.9448888 ],
       [0.900297  ],
       [0.95106757],
       [0.87551576],
       [0.012553  ],
       [0.03685003],
       [0.66998655],
       [0.7722783 ],
       [0.8199729 ],
       [0.92830986],
       [0.89065987],
       [0.93163353],
       [0.86623895],
       [0.9028459 ],
       [0.8729961 ],
       [0.02319634],
       [0.06123212],
       [0.3601931 ],
       [0.6190118 ],
       [0.6625245 ],
       [0.9379399 ],
       [0.8601962 ],
       [0.280581  ],
       [0.82447785],
       [0.8899642 ],
       [0.5535648 ],
       [0.3781192 ],
       [0.1599547 ],
       [0.06650181],
       [0.10281222],
       [0.7636468 ],
       [0.06170337],
       [0.9395171 ],
       [0.96429074],
       [0.06323265],
       [0.7297861 ],
       [0.10847269],
       [0.04620627],
       [0.9647804 ],
       [0.29735985],
       [0.98758674],
       [0.8875626 ],
       [0.40787077],
       [0.95139825],
       [0.94649327],
       [0.84868014],
       [0.82262355],
       [0.31835884],
       [0.5107794 ],
       [0.9622724 ],
       [0.9395088 ],
       [0.16475621],
       [0.63935804],
       [0.95842564],
       [0.941246  ],
       [0.19556773],
       [0.33162236],
       [0.21090741],
       [0.77112323],
       [0.94474244],
       [0.09649673],
       [0.15346548],
       [0.94752604],
       [0.92083836],
       [0.7171426 ],
       [0.06123212],
       [0.36991864],
       [0.13022801],
       [0.14985617],
       [0.87825006],
       [0.03820304],
       [0.87488514],
       [0.90677506],
       [0.02420884],
       [0.96874803],
       [0.24299687],
       [0.78954846],
       [0.07387849],
       [0.09533968],
       [0.93886375],
       [0.8783519 ],
       [0.7973513 ],
       [0.22875114],
       [0.34952095],
       [0.88923085],
       [0.912839  ],
       [0.90793604],
       [0.20172383],
       [0.02158932],
       [0.23629999],
       [0.9437583 ],
       [0.9582878 ],
       [0.9345756 ],
       [0.02456128],
       [0.81637806],
       [0.5348451 ],
       [0.4140756 ],
       [0.9570208 ],
       [0.78220457],
       [0.17660938],
       [0.05075708],
       [0.19437236],
       [0.2199907 ],
       [0.08516876],
       [0.11931847],
       [0.9531847 ],
       [0.5851087 ],
       [0.95797527],
       [0.0733071 ],
       [0.97779524],
       [0.1324137 ],
       [0.35682568],
       [0.20480904],
       [0.85778403],
       [0.23425569],
       [0.31924233],
       [0.02953659],
       [0.594982  ],
       [0.02359077],
       [0.8975955 ],
       [0.14529493],
       [0.9486734 ],
       [0.39685732],
       [0.26186094],
       [0.65512556],
       [0.79670197],
       [0.8787071 ],
       [0.1714483 ],
       [0.06712075],
       [0.10195107],
       [0.48822784],
       [0.9542965 ],
       [0.10547907],
       [0.51972646],
       [0.8519871 ],
       [0.08173674],
       [0.2761989 ],
       [0.06925298],
       [0.9229276 ],
       [0.06475881],
       [0.23159689],
       [0.42221513],
       [0.04951623],
       [0.9407262 ],
       [0.16081078],
       [0.8672439 ],
       [0.9258797 ],
       [0.44915518],
       [0.82681316],
       [0.6562549 ],
       [0.95817333],
       [0.95595616],
       [0.02219667],
       [0.8014549 ],
       [0.8970623 ],
       [0.3274361 ],
       [0.5761602 ],
       [0.05339554],
       [0.84226406],
       [0.93228716],
       [0.10600901],
       [0.07196669],
       [0.3592525 ],
       [0.2114137 ],
       [0.9227862 ],
       [0.12757482],
       [0.34251472],
       [0.11326391],
       [0.05936678],
       [0.12557177],
       [0.9650949 ],
       [0.620137  ],
       [0.7062432 ],
       [0.14457272],
       [0.9832756 ],
       [0.16562612],
       [0.07003784],
       [0.3369437 ],
       [0.76570964],
       [0.05712907],
       [0.9456507 ],
       [0.23579821],
       [0.9637822 ],
       [0.8414462 ],
       [0.81637806],
       [0.30079222],
       [0.07765964],
       [0.7806567 ],
       [0.8862095 ],
       [0.9248878 ],
       [0.9468469 ],
       [0.02436074],
       [0.77447355],
       [0.75915176],
       [0.66494316],
       [0.88475955],
       [0.79337925],
       [0.12929358],
       [0.6924392 ],
       [0.800144  ],
       [0.7876247 ],
       [0.06011491],
       [0.02771132],
       [0.9749849 ],
       [0.25528237],
       [0.98264253],
       [0.32588917],
       [0.15123755],
       [0.10852089],
       [0.34642604],
       [0.8357417 ],
       [0.8038518 ],
       [0.91049707],
       [0.2824164 ],
       [0.10180573],
       [0.19655742],
       [0.72484696],
       [0.80328876],
       [0.5876535 ],
       [0.8914334 ],
       [0.86664635],
       [0.18083407],
       [0.80908567],
       [0.23337458],
       [0.7377724 ],
       [0.03184677],
       [0.58534956],
       [0.9625224 ],
       [0.95208913],
       [0.07803356],
       [0.8355799 ],
       [0.96679986],
       [0.9113238 ],
       [0.853017  ],
       [0.0151608 ],
       [0.06895367],
       [0.98967755],
       [0.2507762 ],
       [0.04986061],
       [0.12647931],
       [0.94585603],
       [0.7633532 ],
       [0.97048426],
       [0.9736734 ],
       [0.80754125],
       [0.92875636],
       [0.8729961 ],
       [0.943605  ],
       [0.81336933],
       [0.66531867],
       [0.1798107 ],
       [0.15103728],
       [0.94647926],
       [0.01355688],
       [0.645957  ],
       [0.1908179 ],
       [0.04580408],
       [0.878233  ],
       [0.0883214 ],
       [0.46709698],
       [0.19058478],
       [0.76636726],
       [0.2416585 ],
       [0.9175037 ],
       [0.48889843],
       [0.8849182 ],
       [0.29856062],
       [0.62118757],
       [0.39735627],
       [0.58427906],
       [0.4038039 ],
       [0.72565186],
       [0.85553336],
       [0.6224663 ],
       [0.48416555],
       [0.5467303 ],
       [0.12995417],
       [0.9646564 ],
       [0.62426376],
       [0.14553963],
       [0.90501785],
       [0.29282063],
       [0.9704264 ],
       [0.57876855],
       [0.20165901],
       [0.23105958],
       [0.33879688],
       [0.02631544],
       [0.2525772 ],
       [0.47686633],
       [0.09657802],
       [0.9812522 ],
       [0.82771504],
       [0.02621716],
       [0.7165236 ],
       [0.38750345],
       [0.11815661],
       [0.01806025],
       [0.85371065],
       [0.15646908],
       [0.39245135],
       [0.42899582],
       [0.9211328 ],
       [0.9868031 ],
       [0.8615245 ],
       [0.6970751 ],
       [0.9049063 ],
       [0.8509163 ],
       [0.7062432 ],
       [0.03744061],
       [0.98631686],
       [0.14799057],
       [0.85371065],
       [0.07197034],
       [0.9839982 ],
       [0.15865456],
       [0.10500289],
       [0.36087143],
       [0.971092  ],
       [0.01963744],
       [0.8329888 ],
       [0.8389414 ],
       [0.9675127 ],
       [0.05745772],
       [0.15433626],
       [0.2904752 ],
       [0.08507026],
       [0.05204942],
       [0.7566691 ],
       [0.9869682 ],
       [0.93053055],
       [0.76452684],
       [0.46909988],
       [0.97264737],
       [0.86309594],
       [0.66989285],
       [0.43132913],
       [0.01722842],
       [0.92157793],
       [0.15844636],
       [0.33288142],
       [0.6628575 ],
       [0.877016  ],
       [0.19921829],
       [0.2312175 ],
       [0.85611975],
       [0.9020925 ],
       [0.14924663],
       [0.08040342],
       [0.8126575 ],
       [0.97401184],
       [0.10886502],
       [0.9075489 ],
       [0.7613491 ],
       [0.7689105 ]], dtype=float32)

In [45]:
y_predicted = y_predicted.flatten()
y_predicted

array([0.9646564 , 0.979935  , 0.9017511 , 0.9525932 , 0.86457944,
       0.9709551 , 0.12718144, 0.86304724, 0.9366654 , 0.03119833,
       0.6926738 , 0.9400277 , 0.1100765 , 0.11097459, 0.48077586,
       0.24476038, 0.11124694, 0.9167892 , 0.30973598, 0.9448888 ,
       0.900297  , 0.95106757, 0.87551576, 0.012553  , 0.03685003,
       0.66998655, 0.7722783 , 0.8199729 , 0.92830986, 0.89065987,
       0.93163353, 0.86623895, 0.9028459 , 0.8729961 , 0.02319634,
       0.06123212, 0.3601931 , 0.6190118 , 0.6625245 , 0.9379399 ,
       0.8601962 , 0.280581  , 0.82447785, 0.8899642 , 0.5535648 ,
       0.3781192 , 0.1599547 , 0.06650181, 0.10281222, 0.7636468 ,
       0.06170337, 0.9395171 , 0.96429074, 0.06323265, 0.7297861 ,
       0.10847269, 0.04620627, 0.9647804 , 0.29735985, 0.98758674,
       0.8875626 , 0.40787077, 0.95139825, 0.94649327, 0.84868014,
       0.82262355, 0.31835884, 0.5107794 , 0.9622724 , 0.9395088 ,
       0.16475621, 0.63935804, 0.95842564, 0.941246  , 0.19556773,
       0.33162236, 0.21090741, 0.77112323, 0.94474244, 0.09649673,
       0.15346548, 0.94752604, 0.92083836, 0.7171426 , 0.06123212,
       0.36991864, 0.13022801, 0.14985617, 0.87825006, 0.03820304,
       0.87488514, 0.90677506, 0.02420884, 0.96874803, 0.24299687,
       0.78954846, 0.07387849, 0.09533968, 0.93886375, 0.8783519 ,
       0.7973513 , 0.22875114, 0.34952095, 0.88923085, 0.912839  ,
       0.90793604, 0.20172383, 0.02158932, 0.23629999, 0.9437583 ,
       0.9582878 , 0.9345756 , 0.02456128, 0.81637806, 0.5348451 ,
       0.4140756 , 0.9570208 , 0.78220457, 0.17660938, 0.05075708,
       0.19437236, 0.2199907 , 0.08516876, 0.11931847, 0.9531847 ,
       0.5851087 , 0.95797527, 0.0733071 , 0.97779524, 0.1324137 ,
       0.35682568, 0.20480904, 0.85778403, 0.23425569, 0.31924233,
       0.02953659, 0.594982  , 0.02359077, 0.8975955 , 0.14529493,
       0.9486734 , 0.39685732, 0.26186094, 0.65512556, 0.79670197,
       0.8787071 , 0.1714483 , 0.06712075, 0.10195107, 0.48822784,
       0.9542965 , 0.10547907, 0.51972646, 0.8519871 , 0.08173674,
       0.2761989 , 0.06925298, 0.9229276 , 0.06475881, 0.23159689,
       0.42221513, 0.04951623, 0.9407262 , 0.16081078, 0.8672439 ,
       0.9258797 , 0.44915518, 0.82681316, 0.6562549 , 0.95817333,
       0.95595616, 0.02219667, 0.8014549 , 0.8970623 , 0.3274361 ,
       0.5761602 , 0.05339554, 0.84226406, 0.93228716, 0.10600901,
       0.07196669, 0.3592525 , 0.2114137 , 0.9227862 , 0.12757482,
       0.34251472, 0.11326391, 0.05936678, 0.12557177, 0.9650949 ,
       0.620137  , 0.7062432 , 0.14457272, 0.9832756 , 0.16562612,
       0.07003784, 0.3369437 , 0.76570964, 0.05712907, 0.9456507 ,
       0.23579821, 0.9637822 , 0.8414462 , 0.81637806, 0.30079222,
       0.07765964, 0.7806567 , 0.8862095 , 0.9248878 , 0.9468469 ,
       0.02436074, 0.77447355, 0.75915176, 0.66494316, 0.88475955,
       0.79337925, 0.12929358, 0.6924392 , 0.800144  , 0.7876247 ,
       0.06011491, 0.02771132, 0.9749849 , 0.25528237, 0.98264253,
       0.32588917, 0.15123755, 0.10852089, 0.34642604, 0.8357417 ,
       0.8038518 , 0.91049707, 0.2824164 , 0.10180573, 0.19655742,
       0.72484696, 0.80328876, 0.5876535 , 0.8914334 , 0.86664635,
       0.18083407, 0.80908567, 0.23337458, 0.7377724 , 0.03184677,
       0.58534956, 0.9625224 , 0.95208913, 0.07803356, 0.8355799 ,
       0.96679986, 0.9113238 , 0.853017  , 0.0151608 , 0.06895367,
       0.98967755, 0.2507762 , 0.04986061, 0.12647931, 0.94585603,
       0.7633532 , 0.97048426, 0.9736734 , 0.80754125, 0.92875636,
       0.8729961 , 0.943605  , 0.81336933, 0.66531867, 0.1798107 ,
       0.15103728, 0.94647926, 0.01355688, 0.645957  , 0.1908179 ,
       0.04580408, 0.878233  , 0.0883214 , 0.46709698, 0.19058478,
       0.76636726, 0.2416585 , 0.9175037 , 0.48889843, 0.8849182 ,
       0.29856062, 0.62118757, 0.39735627, 0.58427906, 0.4038039 ,
       0.72565186, 0.85553336, 0.6224663 , 0.48416555, 0.5467303 ,
       0.12995417, 0.9646564 , 0.62426376, 0.14553963, 0.90501785,
       0.29282063, 0.9704264 , 0.57876855, 0.20165901, 0.23105958,
       0.33879688, 0.02631544, 0.2525772 , 0.47686633, 0.09657802,
       0.9812522 , 0.82771504, 0.02621716, 0.7165236 , 0.38750345,
       0.11815661, 0.01806025, 0.85371065, 0.15646908, 0.39245135,
       0.42899582, 0.9211328 , 0.9868031 , 0.8615245 , 0.6970751 ,
       0.9049063 , 0.8509163 , 0.7062432 , 0.03744061, 0.98631686,
       0.14799057, 0.85371065, 0.07197034, 0.9839982 , 0.15865456,
       0.10500289, 0.36087143, 0.971092  , 0.01963744, 0.8329888 ,
       0.8389414 , 0.9675127 , 0.05745772, 0.15433626, 0.2904752 ,
       0.08507026, 0.05204942, 0.7566691 , 0.9869682 , 0.93053055,
       0.76452684, 0.46909988, 0.97264737, 0.86309594, 0.66989285,
       0.43132913, 0.01722842, 0.92157793, 0.15844636, 0.33288142,
       0.6628575 , 0.877016  , 0.19921829, 0.2312175 , 0.85611975,
       0.9020925 , 0.14924663, 0.08040342, 0.8126575 , 0.97401184,
       0.10886502, 0.9075489 , 0.7613491 , 0.7689105 ], dtype=float32)

In [46]:
import numpy as np

y_predicted = np.where(y_predicted > 0.5, 1, 0)
y_predicted

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1])

In [47]:
from sklearn.metrics import confusion_matrix, classification_report

In [48]:
print(classification_report(y_test, y_predicted))

              precision    recall  f1-score   support

           0       0.95      0.87      0.91       187
           1       0.88      0.95      0.92       187

    accuracy                           0.91       374
   macro avg       0.91      0.91      0.91       374
weighted avg       0.91      0.91      0.91       374

In [49]:
print(confusion_matrix(y_test, y_predicted))

[[163  24]
 [  9 178]]

In [50]:
#Inference

In [51]:
reviews = [
    'Enter a chance to win $5000, hurry up, offer valid until march 31, 2021',
    'You are awarded a SiPix Digital Camera! call 09061221061 from landline. Delivery within 28days. T Cs Box177. M221BP. 2yr warranty. 150ppm. 16 . p pÂ£3.99',
    'it to 80488. Your 500 free text messages are valid until 31 December 2005.',
    'Hey Sam, Are you coming for a cricket game tomorrow',
    "Why don't you wait 'til at least wednesday to see if you get your ."
]

In [52]:
model.predict(reviews)

array([[0.80428255],
       [0.89321536],
       [0.8488006 ],
       [0.25549832],
       [0.12810624]], dtype=float32)